
/*******************
  GENERAL STYLE
*******************/

h3 {
  color: #bdc3c7;
  margin-bottom: 20px;
}



/*******************
    MEDIA QUERIES
*******************/

@media screen and (max-width: 400px) {

  body {
    background-color: #404345;
  }

  h3 {
    color: white;
  }

  .categoriesContainer {

    background-color: red;
    background: linear-gradient(135deg, rgba(92,92,92,1) 0%, rgba(92,92,92,1) 2%, rgba(177,27,177,1) 22%, rgba(245,84,113,1) 46%, rgba(81,144,245,1) 68%, rgba(40,113,230,1) 85%, rgba(40,113,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#2871e6', GradientType=1 );
  }

  @keyframes BackgoundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
}


@media screen and (min-width: 760px) and (max-width: 1400px) {
    body {
        background-color: grey;
      }
    }




/*******************
    APP STYLE
*******************/
    .menuButton {
      display: block;

    }

    .App {
      text-align: center;
      padding: 2%;
    }

/*******************
    WELCOME PAGE
*******************/

.categoriesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  border-radius: 1%;
  padding: 20%;
  background-color: white;

  box-shadow: 0 0 10px #ccc;

}

.categoriesContainer {

  background: linear-gradient(135deg, rgba(92,92,92,1) 0%, rgba(92,92,92,1) 2%, rgba(177,27,177,1) 18%, rgba(81,144,245,1) 42%, rgba(40,113,230,1) 63%, rgba(133,255,161,1) 85%, rgba(133,255,161,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#85ffa1', GradientType=1 );

  background-size: 400% 400%;
  animation: BackgoundGradient 30s ease infinite;
}

@keyframes BackgoundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}


/*******************
  Button Categories
********************/

#contain {
  height: 150px;
  width: 150px;
  background-color: #ecf0f1;

  border-radius: 8%;
  padding: 0;
  border: none;

  margin: 5%;

  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 5 10px #ccc;
}

.portraits {
  color: #f1c40f;
}

.lowlight {
  color: #9b59b6;
}

.landscapes {
  color: #3498db;
}

.sharpness {
  color: #2ecc71;
}
/*.contain:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}*/

#contain:hover {
  background-color: #bdc3c7;
}



/*******************
VIDEO CONTENT PAGE
*******************/

.videoLinkContainer {
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  justify-content: flex-start;


  border-radius: 2%;
  margin-top: 40px;
  padding: 20%;
  background-color: #404345;
}

.youtubeVideo {

  position: relative;
  padding-bottom: 56.25%;
  padding-top: 2px; height: 0; overflow: hidden;

    margin-bottom: 15px;
  }

.youtubeVideo iframe,
.youtubeVideo object,
.youtubeVideo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

/*.youtubeVideo:after {

  content: "";
  background-color: red;
  position: absolute;
  width: 100px;
  height: 3px;
  top: 10px;
  left: 50%;
  display: block;
}*/


#videoDescription {
  float: left;
}

/*******************
  BACKGROUND CHANGE
*******************/

body {

}
